body{
  background-image: url('../image/background.jpg');
  background-size: cover;
  box-sizing: border-box;
}
.top{
  width: auto;
  height: 20px;
  background-color: indigo;
  padding: 10px;
  margin-top: 50px;
}
.center{
  text-align: center;
  font-size: 70;
  color: red;
  
}
.leftside {
  float: left;
  width: 40%;
  padding: 10px;
  height: 650px; 
  background-color: cornflowerblue;
  margin-left:100px; 
  margin-right:auto;
  margin-top:10px;  
}

.menu{
  background-color:green;
  
}
.menu ul li{
  color:yellow;
  display:inline-block;
  font-size: 20px;
  padding-left: 60px;
  padding-right: 20px;

}
.rightside {
  float: right;
  width: 45%;
  padding: 10px;
  height: 650px; 
  background-color: cornflowerblue;
  margin-right: 80px;
  margin-top: 10px;
  
}
.profileimage{
  display: block;
  width: 90%;
  height: auto;
}
.summary{
  background-color: tomato;
  color: blue;

}
.homecontent p{
  font-size: 20px;
  font-style: italic;
}

/* CONTACT STYLES */
.contact{
  border-radius: 5px;
}

.contactform label{
  float:left;
  width:250px;
  text-align:left;
  margin-right:5px;
  display: block;
}
input[type=text]{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  float:left;
  width:40%;     
  
}
input[type=number]{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  float:left;
  width:40%;
}  
input[type=email]{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  float:left;
  width:40%;
} 


input [type=textarea] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




/* Responsive websign css*/
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}





















